.nav-bar_text {
  position: relative;
}

.nav-bar_text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #6346fa;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.nav-bar_text:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.nav-bar_text:hover {
  color: #6346fa;
}
